@model List<Assignment.Models.OrderView>

<h1>DANH SÁCH ĐƠN HÀNG</h1>
@if (Model.Count() != 0)
{
	@foreach (var order in Model)
	{
		<h2>Mã đơn hàng: @order.OrderId</h2>
		<p>Ngày đặt hàng: @order.OrderDate</p>
		<p>Tổng thành tiền: @order.Total</p>
		<p>Trạng thái: @order.Status</p>

		<table>
			<thead>
				<tr>
					<th>TÊN SẢN PHẨM</th>
					<th>HÌNH ẢNH</th>
					<th>ĐƠN GIÁ</th>
					<th>SỐ LƯỢNG</th>
					<th>THÀNH TIỀN</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in order.Products)
				{
					<tr>
						<td>@product.ProductName</td>
						<td><img src="~/images/Products/@(product.Image)" alt="@product.ProductName" width="150" /></td>
						<td>@product.UnitPrice</td>
						<td>@product.Quantity</td>
						<td>@product.SubTotal</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
else
{
	<p style="font-weight:bold; text-align: center;">Danh sách đơn hàng đang trống</p>
}
