@using Assignment.Helpers
@model List<Assignment.Models.OrderView>

<h1>DANH SÁCH ĐƠN HÀNG</h1>
@if (Model.Count() != 0)
{
	@foreach (var order in Model)
	{
		<h2>MÃ ĐƠN HÀNG: @order.OrderId</h2>
		<p>NGÀY ĐẶT HÀNG: @order.OrderDate.ToString("dd/MM/yyyy HH:mm:ss tt")</p>
		<p>TỔNG THÀNH TIỀN: @order.Total VNĐ</p>
		<p>TRẠNG THÁI: @EnumHelper.GetDisplayName(order.Status)</p>
		<p>SỐ ĐIỆN THOẠI: @order.Phone </p>
		<p>ĐỊA CHỈ NHẬN HÀNG: @order.Address</p>

		<table>
			<thead>
				<tr>
					<th>TÊN SẢN PHẨM</th>
					<th>HÌNH ẢNH</th>
					<th>ĐƠN GIÁ</th>
					<th>SỐ LƯỢNG</th>
					<th>THÀNH TIỀN</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in order.Products)
				{
					<tr>
						<td>@product.ProductName</td>
						<td><img src="~/images/Products/@(product.Image)" alt="@product.ProductName" width="150" /></td>
						<td>@product.UnitPrice VNĐ</td>
						<td>@product.Quantity</td>
						<td>@product.SubTotal</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
else
{
	<p style="font-weight:bold; text-align: center;">Danh sách đơn hàng đang trống</p>
}
